* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #050311;
  --secondary-color: #001f66;
  --tertiary-color: #035edd;
  --fourth-color: #5ca8ff;
  --fifth-color: #add7f6;
}


