* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #050311;
  --secondary-color: #001F66;
  --tertiary-color: #035EDD;
  --fourth-color: #5CA8FF;
  --fifth-color: #ADD7F6;
}

.navbar {
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0;
}

nav {
    /* background-color: var(--primary-color); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.7vw 3vw;
    position: relative;
}

.nav-solid-bg {
    background-color: black;
}

.nav-trp-bg {
    background-color: var(--secondary-color);
}

.nav-active {
    color: orangered;
}
.nav-notActive {
    color: white;
}

.navLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
}

.logo img {
    width: 10vw;
}

.navMenus ul {
    display: flex;
    justify-content: space-around;
    gap: 2vw;
}

.navMenus li {
    list-style: none;
    font-size: 1.4vw;
}

.navMenus a {
    text-decoration: none;
    /* color: white; */
}

.sideButtons {
    display: flex;
    gap: 1vw;
}

.sideButtons button {
    width: 5vw;
    font-size: 1vw;
    font-weight: bold;
    background-color: #001f6600;
    border: 2px solid white;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    color: white;
}

@media (max-width: 768px) {
    .sideButtons button {
        width: 6vw;
        border: 1px;
    }
}