* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #050311;
  --secondary-color: #001f66;
  --tertiary-color: #035edd;
  --fourth-color: #5ca8ff;
  --fifth-color: #add7f6;
}

.web-footer {
  bottom: 0;
}

footer {
    background-color: var(--primary-color);
    /* position: sticky; */
    /* bottom: 0; */
    padding: 2vw 1vw;
}

.footer-logo img {
    width: 10vw;
}

.footer-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.footer-nav ul li {
    list-style: none;
    margin: 1vw 0;
}