* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #050311;
  --secondary-color: #001f66;
  --tertiary-color: #035edd;
  --fourth-color: #5ca8ff;
  --fifth-color: #add7f6;
}

.web-footer {
  bottom: 0;
}

footer {
    background-color: var(--primary-color);
    /* position: sticky; */
    /* bottom: 0; */
    padding: 2vw 1vw 0.5vw 1vw;
    width: 100%;
}

.footer-logo img {
    width: 10vw;
}

.footer-column {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    color: white;
}

.footer-nav-col {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.footer-nav ul li {
    list-style: none;
    margin-bottom: 1vw;
    cursor: pointer;
}

.footer-nav ul li:hover {
    text-decoration: underline;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.footer-form-inp {
  display: flex;
  gap: 1vw;
}

#footer-form-inpBox {
  padding: 0.5vw 1vw;
}

.footer-form-inp button {
  padding: 0.5vw 1vw;
  font-weight: bold;
}

.copyright-sec {
  display: flex;
  flex-direction: column;
}

.copyrightText {
  display: flex;
  flex-direction: row;
  padding: 0.5vw 0;
  color: #ffffff;
  gap: 2vw;
  margin: auto;
}

.copyrightText p {
  text-decoration: underline;
  cursor: pointer;
}